@font-face {
    font-family: Mathilde;
    src: url(./res/font/mathilde.otf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(./res/font/Roboto-Light.ttf);
}

html,body{
	margin: 0;
	padding: 0;
	font-family: Roboto-Light, sans-serif;
	font-size: 12pt;
	color: white;
}

body {
	overflow-y: scroll;
}

h1{
	font-size: 8em;
	margin: 0;
	font-family: Mathilde, sans-serif;
}

h3{
	margin: 0;
	font-family: Roboto-Light, sans-serif;
	font-size: 1.3em;
	margin-top: 10px;
}

label{
	font-weight: 600;
}

p{
	margin: 0;
}

p > a {
	color: white;
}

header{
	display: flex;
	color: rgb(77,77,77);
	justify-content: space-between;
	width: 100%;
	position: fixed;
	top: 0;
	height: 120px;
	z-index: 1000;
	background-color: white;
	line-height: 100px;
}

#logo{
	flex-wrap: row;
	flex-basis: 50%;
	padding-top: 10px;
	padding-left: 200px;
}

#img_logo{
	height: 100%;
	max-height: 110px;
	max-width: 261px;
}

#nav{
	display: block;
	flex-basis: 50%;
	height: 100%;
	vertical-align: middle;
	text-align: right;
	padding: 10px;
	padding-right: 50px;
}

main{
	margin-top: 70px;
}

.pageheight{
	height: calc(100vh - 200px);
	position: relative;
	padding-left: 200px;
	padding-top: 10px;
}

a {
	text-decoration: none;
	color: rgb(77,77,77);
}

a > span {
	color: rgb(0,235,235);
	font-size: 1.2em;
}

.anchor {
    display: block;
    position: relative;
    top: 60px;
}

/* PAGES */
#page_game{
	background: url("./res/img/backscreen_futuristic.jpg");
	background-size: cover;
	background-repeat: none;
	opacity: 0.7;
}

.container_game{
	padding-top: 110px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

#game{
	width: 800px;
	height: 560px;
}

#canvas {
	width: 100%;
	height: 100%;
	position: relative;
}

#loadingProgress {
	left: 300px;
	margin-left: 0;
}

#download {
	height: 560px;
	width: 500px;
	text-align: center;
	line-height: 560px;
	vertical-align: middle;
}

#download a {
	height: 20px;
	padding: 50px;
	background: rgb(77, 77, 77);
	color: rgb(255, 255, 255) !important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#download a:hover {
	background: rgb(100, 100, 100);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#page_properties{
	background: rgb(0,235,235);
}

#page_instructions{
	background: url("./res/img/backscreen_tron_layer.jpg");
	background-size: cover;
	background-repeat: none;
	opacity: 1;
	display: flex;
}

#page_about{
	background: rgb(77,77,77);
}

.little_menue{
	height: 70px;
	line-height: 50px;
}

.container_content{
	display: block;
	padding-top: 50px;
}

#instructions {
	flex-basis: 70%;
}

#keys {
	flex-basis: 30%;
}

#keys p {
    display: flex;
	width: 100%;
	align-items: center;
}

#keys img {
	width: 50px;
}

.container_props{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 90%;
	height: 50%;
}

.props{
	display: block;
	width: 33%;
}

input[type="text"]{
	background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 5px;
    color: rgb(77, 77, 77);
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}

#speed_slider{
	width: 90%;
	height: 10px;
	vertical-align: middle;
	margin-top: 10px;
}

#speed_slider > span {
    background-color: rgb(77,77,77);
    border-radius: 5px;
    width: 10px;
    height: 20px;
	vertical-align: middle;
}

#speed_slider > div {
	background: none;
}


.colors{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.colors > label{
	display: block;
	width: 20%;
}


.colors > div{
    width: 80%;
    display: block;
}

.colors > div > input {
	background: none;
    border: none;
    margin: 0;
    padding: 0;
}

#copy {
	padding: 10px;
	text-align: center;
	background: rgb(77,77,77);
}